@import url("http://fonts.cdnfonts.com/css/red-hat-display");
body {
  font-family: "Red Hat Display", sans-serif;
  background-color: #112031;
  color: #D4ECDD;
  color: white;
}

nav .active {
  background-color: #345B63;
}

.smol {
  font-size: 13px;
}

.btn-sales {
  max-width: 140px;
  background-color: #345B63;
}

.btn-purchase {
  max-width: 200px;
  background-color: #345B63;
}

#admission {
  min-width: 190px;
}

#select-spacer {
  width: 40px;
  max-width: 40px;
}

#banner-saying {
  position: relative;
}
#banner-saying #absolute {
  position: absolute;
  top: -330px;
  left: 40px;
}
#banner-saying #absolute h1 {
  font-weight: 200;
  padding-right: 60px;
  color: white;
  font-size: 6vw;
}

.bigus {
  font-weight: 900 !important;
}

.bigus:hover {
  position: relative;
  top: -10px;
}

.display-pic {
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 420px;
}

#item-frame #store-item {
  -o-object-fit: contain;
     object-fit: contain;
  height: 400px;
  width: 400px;
}

footer {
  background-color: #112031;
  color: #D4ECDD;
}

.bannerText {
  display: none;
  position: absolute;
  top: 175px;
  left: 0;
  right: 0;
}
.bannerText h1 {
  font-weight: 200;
  padding-right: 60px;
  color: white;
  font-size: 6vw;
}

.wrapper {
  height: 50px;
  width: 100%;
}

.spanAdjectives {
  display: block;
  font-size: 6vw;
  height: 100%;
  -webkit-animation: spin_words 10s infinite;
          animation: spin_words 10s infinite;
}

.words {
  overflow: hidden;
}

.ctnText {
  text-align: left;
}
.ctnText h2 {
  font-weight: 900;
  color: white;
  font-size: 6vw;
}

.ctnBands {
  box-shadow: 0px 15px 10px -15px hsl(0deg, 0%, 70%);
}

.fadein-left {
  position: relative;
  -webkit-animation: floatLeft 1s normal ease-out;
  animation: floatLeft 1s normal ease-out;
}

.fadein-right {
  position: relative;
  -webkit-animation: floatRight 1s normal ease-out;
  animation: floatRight 1s normal ease-out;
}

@-webkit-keyframes floatRight {
  0% {
    left: 20px;
    opacity: 0;
  }
  100% {
    left: 0px;
    opacity: 1;
  }
}
@keyframes floatRight {
  0% {
    left: 20px;
    opacity: 0;
  }
  100% {
    left: 0px;
    opacity: 1;
  }
}
@-webkit-keyframes floatLeft {
  0% {
    right: 20px;
    opacity: 0;
  }
  100% {
    right: 0px;
    opacity: 1;
  }
}
@keyframes floatLeft {
  0% {
    right: 20px;
    opacity: 0;
  }
  100% {
    right: 0px;
    opacity: 1;
  }
}
@-webkit-keyframes floatBottom {
  0% {
    top: 20px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
@keyframes floatBottom {
  0% {
    top: 20px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
@-webkit-keyframes spin_words {
  10% {
    transform: translateY(-112%);
  }
  25% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-212%);
  }
  50% {
    transform: translateY(-200%);
  }
  60% {
    transform: translateY(-312%);
  }
  75% {
    transform: translateY(-300%);
  }
  85% {
    transform: translateY(-412%);
  }
  100% {
    transform: translateY(-400%);
  }
}
@keyframes spin_words {
  10% {
    transform: translateY(-112%);
  }
  25% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-212%);
  }
  50% {
    transform: translateY(-200%);
  }
  60% {
    transform: translateY(-312%);
  }
  75% {
    transform: translateY(-300%);
  }
  85% {
    transform: translateY(-412%);
  }
  100% {
    transform: translateY(-400%);
  }
}
@media (max-width: 575px) {
  .display-pic {
    max-width: 400px;
  }
  #item-desc {
    max-width: 500px;
  }
  #absolute h1 {
    font-size: 44px !important;
  }
  .bannerText h1 {
    font-size: 44px !important;
  }
  .ctnText {
    text-align: center;
  }
  .ctnText h2, .ctnText .spanAdjectives {
    font-size: 44px !important;
  }
  .fadein-left, .fadein-right {
    position: relative;
    -webkit-animation: floatBottom 1s normal ease-out;
    animation: floatBottom 1s normal ease-out;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .display-pic {
    max-width: 420px;
  }
  #spacer {
    min-width: 100px;
  }
  #item-desc {
    max-width: 500px;
  }
  #absolute h1 {
    font-size: 8vw !important;
  }
  .bannerText h1 {
    font-size: 8vw !important;
  }
  .ctnText {
    text-align: center;
  }
  .ctnText h2, .ctnText .spanAdjectives {
    font-size: 44px !important;
  }
  .fadein-left, .fadein-right {
    position: relative;
    -webkit-animation: floatBottom 1s normal ease-out;
    animation: floatBottom 1s normal ease-out;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .display-pic {
    max-width: 420px;
  }
  #spacer {
    min-width: 100px;
  }
  #item-desc {
    max-width: 300px;
  }
  .spanAdjectives {
    height: 100px;
  }
  .wrapper {
    height: 50px;
  }
  .ctnText {
    text-align: center;
  }
}
@media (min-width: 992px) {
  .display-pic {
    max-width: 500px;
  }
  #spacer {
    min-width: 100px;
  }
  #item-desc {
    max-width: 700px;
  }
  .spanAdjectives {
    height: 150px;
  }
  .wrapper {
    height: 100px;
  }
}/*# sourceMappingURL=style.css.map */